body{
  font-family: caveat;
  background-color: black;
  text-align: center;
  font-size: 30px;
 
  }

  h1{
margin-right: 120px;
}

div{
  background-color: rgba(235, 79, 7, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px;
  border-radius: 15px;
  color: #0a0a0a;
  width: 30%;
  height: 60%;
  }

  .icon{
  width: 20%;
  height: 20%;
  float: left;
  position: relative;
  margin-top: 50px;
  margin-left: 50px;
  }

input{
  padding: 15px;
  border: none;
  border-radius: 15px;
  outline: none;
  font-size: 15px;
  }

button{
  background-color: rgb(214, 255, 30);
  border: none;
  padding: 15px;
  width: 30%;
  border-radius: 50%;
  color: rgb(14, 13, 13);
  font-size: 20px;
  }

button:hover{
  background-color: rgb(238, 53, 6);
  cursor: pointer;
  }
